{% extends 'management/base.html' %}

{% block content %} 



<!--details modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sumModal" style="display:none" id="detailModal">details</button>

<div class="modal fade" id="sumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-lg" role="document">
      <div class="modal-content">
        <div class="modal-header"  style="background-color:yellowgreen">
          <h5 class="modal-title" id="exampleModalLongTitle" id="orgName"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <button onclick="approvePay();"> <i class="ti-check"></i></button>
            <strong id="payId"> </strong>
            <span>Total Amount</span>: KES<span id="totalCost"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>

<div class="main-panel">
    <!-- row -->
    <div class="content-wrapper">
            
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Reports</h4>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-pills mb-3">
                    <li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-outline mr-1 show active"><i class="ti-timer"></i></a></li>
                    <li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary"><i class="ti-list"></i></a></li>
                    <li class="nav-item"><a href="#settings" data-toggle="tab" class="nav-link btn-primary" style="background-color: orange;"><i class="ti-filter"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="row tab-content">
                    <div id="list-view" class="tab-pane fade active show col-lg-12">
                        <div class="card">
                            
                            <div class="card-body">
                                <button class="btn btn-outline" onclick="htmlTableToExcel('xlsx')"><i class="ti-download"></i></button>
                                <div class="table-responsive">
                                    <table  class="table table-striped"  id="attendance">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>day</th>
                                                <th>clock_in</th>
                                                <th>clock_out</th>
                                                <th>clock in location</th>
                                                <th>clock out location</th>
                                                <th>clock in image</th>
                                                <th>clock out image</th>
                                                <th>status</th>
                                                <th>count</th>
                                                <th>deduction</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for attendance in attendances %}
                                            <tr>

                                                <td>
                                                    {{attendance.employee.emp_id}}

                                                </td>
                                                <td>
                                                    {{attendance.day}}
                                                </td>
                                                <td>
                                                    {{attendance.clock_in}}
                                                </td>
                                                <td>
                                                    {{attendance.clock_out}}
                                                </td>
                                                <td>
                                                    <button onclick="showMap('{{attendance.lat}}','{{attendance.long}}');"><i class="ti-map">show map</i></button>
                                                </td>
                                                <td>
                                                    {{attendance.lat1 }},{{attendance.long1}}
                                                </td>
                                                <td>
                                                    <img src="{{attendance.image1}}">
                                                </td>
                                                <td>
                                                    <img src="{{attendance.image2}}">
                                                </td>
                                                <td>
                                                    {{attendance.status}}
                                                </td>
                                                <td>
                                                    {{attendance.counts}}
                                                </td>
                                                <td>
                                                    {{attendance.deductions}}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="grid-view" class="tab-pane fade col-lg-12">
                        <button class="btn btn-outline" onclick="htmlTableToExcelto('xlsx')"><i class="ti-download"></i></button>
                        <button class="btn btn-outline" onclick="htmlTableToExcelto('xlsx')"><i class="ti-check"></i>approve</button>
                        <div>
                      
                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <table  class="table table-striped"  id="payroll">
                                    <thead style="background-color: yellowgreen;">
                                        <tr>
                                            <th>docs</th>
                                            <th>audit details</th>
                                            <th>created</th>
                                            <th>status</th>
                                            <th>payroll id</th>
                                            <th>employee id</th>
                                            
                                            <th>first_name</th>
                                          
                                            <th>national_id</th>
                                            <th>phone</th>
                                            <th>role</th>
                                            <th>account_no</th>
                                            <th>salary</th>
                                            <th>leave days</th>
                                            <th>hours</th>
                                            <th>deductions</th>
                                            <th>gross_pay</th>
                                            <th>taxable income</th>
                                            <th>PAYE</th>
                                            <th>nhif</th>
                                            <th>housing</th>
                                            <th>others</th>
                                            <th>net_pay</th>

                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for val in payrolls %}
                                        
                                        <tr>
                                            <td>
                                                <a href="{% url 'payroll-payslip' val.sign_id %}" download><i class="ti-download"></i></a>
                                            </td>
                                            <td>
                                                <a href="{% url 'payroll-edit-payroll' val.pk %}"><i class="ti-pencil"></i></a>
                                            </td>
                                            <td>
                                                {{val.created}}
                                            </td>
                                            {% if val.status == "audited" %}
                                            <td style="background-color: green;">
                                                {{val.status}}
                                            </td>
                                            {% else %}
                                            <td style="background-color:red;">
                                                {{val.status}}
                                            </td>
                                            {% endif %}
                                            <td>
                                                {{val.payroll_id}}
                                            </td>
                                            <td>
                                                {{val.employee_id}}

                                            </td>
                                            <td>
                                                {{val.name}}
                                            </td>
                                            <td>
                                                {{val.id_no}}
                                            </td>
                                            <td>
                                                {{val.phone}}
                                            </td>
                                            <td>
                                                {{val.role}}
                                            </td>
                                            <td>
                                                {{val.account_no}}
                                            </td>
                                            <td>
                                                {{val.basic_salary}}
                                            </td>
                                            <td>
                                                {{val.leave_days}}
                                            </td>
                                            <td>
                                                {{val.total_hours}}
                                            </td>
                                            <td>
                                                {{val.deductions}}
                                            </td>
                                            <td>
                                                {{val.gross_pay}}
                                            </td>
                                            <td>
                                                {{val.taxable_income}}
                                            </td>
                                            <td>
                                                {{val.tax}}
                                            </td>
                                            <td>
                                                {{val.nhif}}
                                            </td>
                                            <td>
                                                {{val.housing}}
                                            </td>
                                            <td>
                                                {{val.others}}
                                            </td>
                                            <td>
                                                {{val.net_pay}}
                                            </td>
                                           
                                            
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <div id="settings" class="tab-pane fade col-lg-12">
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                            <div class="card"  style="width:400px; overflow-x: scroll;">
                                    <div class="card-body">
                                        <div class="form-group row">
                                       
                                            <label>from</label>
                            <input type="date" class="form-control" id="date1">
                        
                           
                            <label>to</label>
                            <input type="date" class="form-control" id="date2">
                         
                            </div>
                            <a class="btn btn-primary" onclick="filter()">filter</a>
                            <table  class="table table-striped"  id="paySummary" >
                                <thead style="background-color: yellowgreen;">
                                    <tr>
                                        <th>payroll id</th>
                                        <th>organisation</th>
                                        <th>sign_id</th>
                                       
                                        <th>created</th>
                                        <th>view all</th>
                                      
                                        
                                       
                                       
                                    </tr>
                                </thead>
                                <tbody id="payrollFilt">
                                    
                                </tbody>
                            </table>

                                    </div>
                                    </div>
                                    
                            </div>
                            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent" style="overflow-x: scroll;">
                                <table  class="table table-striped"  id="paygen" >
                                    <thead style="background-color: yellowgreen;">
                                        <tr>
                                            <th>payroll id</th>
                                            <th>total payable</th>
                                            <th>size</th>
                                            <th>created</th>
                                            <th>view all</th>
                                          
                                            
                                           
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for payroll in by_payroll_ids  %}
                                        <tr>
                                            <td>{{payroll.payroll_id}}</td>
                                            <td>{{payroll.total_amount}}</td>
                                            <td>{{payroll.size}}</td>
                                            <td></td>
                                            <td><a class="btn btn-primary" onclick="showDetails('{{payroll.payroll_id}}')"><i class="ti-eye"></i></a></td>
                                           
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                 
                                </div>
                       </div>
                       <div class="row">



                       </div>
            </div>
        </div>
       
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script>
     new DataTable('#attendance');
     new DataTable('#paySummary');
     new DataTable('#paygen');
     new DataTable('#payroll');
     new DataTable('#details');

     function showMap(lat,long){
       

        var mapProp= {
  center:new google.maps.LatLng(lat,long),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("Map"),mapProp);
     }

    
    function filter(){
        alert($("#date1").val())
        $.ajax({

            type:"POST",
            url:"{% url 'payroll-month' %}",
            data:{
                 
                date1: $("#date1").val(),
                date2: $("#date2").val(),
                csrfmiddlewaretoken:'{{ csrf_token }}',

                
            },
            success:function(data,status){
              
                var data = JSON.parse(data)
                $("#payrollFilt").html('')
                for(key in data){
                   console.log(data[key])
                    $("#payrollFilt").append(
                        `
                        <tr>

                            <td>${data[key]["payroll_id"]}</td>
                            <td>${data[key]["org_name"]}</td>
                            <td>${data[key]["employee_id"]}</td>
                            <td>${data[key]["sign_id"]}</td>
                            <td>${data[key]["created"]}</td>

                        </tr>
                        
                        `
                    )
                }
                
            }
        })
    }


    function showDetails(id){
        $("#payId").html(id)
       $("#detailModal").click()
      
        $.ajax({
            type:"post",
            url:"{% url 'payroll-details' %}",
            data:{
                    id:id,
                    csrfmiddlewaretoken:'{{ csrf_token }}'

            },
            success:function(data,status){
            
                var data = JSON.parse(data)
               $("#totalCost").html(data["cost"])
                

                


            }
        })

    }


    function approvePay(){
        
        var payroll_id = $("#payId").html()

        $.ajax({
            type:"post",
            url:"{% url 'payroll-check' %}",
            data:{
                id:payroll_id,
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            success:function(data,status){

                alert(data)
            }
        })
    }

    

    function htmlTableToExcel(type){
 var data = document.getElementById('attendance');
 var excelFile = XLSX.utils.table_to_book(data, {sheet: "sheet1"});
 XLSX.write(excelFile, { bookType: type, bookSST: true, type: 'base64' });
 XLSX.writeFile(excelFile, 'attendance.' + type);
}

function htmlTableToExcelto(type){
 var data = document.getElementById('payroll');
 var excelFile = XLSX.utils.table_to_book(data, {sheet: "sheet1"});
 XLSX.write(excelFile, { bookType: type, bookSST: true, type: 'base64' });
 XLSX.writeFile(excelFile, 'payroll.' + type);
}
    
       
        
    
    
</script>


{% endblock content %}