{% extends 'management/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- create camera modal here-->

     






      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
           
          
              
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Initiate approvals</h4>
                  <p class="card-description">
                    
                  </p>
                  <form class="forms-sample" ectype="multipart/form-data" method="POST" id="ApprovalForm">
                    {% csrf_token %}
                    {% for field in appForm %}
                 
                    <div class="form-group">
                       {{field | as_crispy_field}}
                    </div>
                   
                  {% endfor %}
                    
                   
                    <button type="submit" class="btn btn-primary mr-2" onclick="loadApproval()">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          
        </footer>
        <!-- partial -->
      </div>

    <script>

function loadApproval(){
  
  $("#ApprovalForm").submit(function(e){
   e.preventDefault()

   $form = $(this)
   var formData = new FormData(this);
 
   $.ajax({
     method:"post",
     url:"{% url 'management_upload_process' %}",
     data:formData,
     processData: false,
contentType: false,
     success:function(data,status){
       alert(data)
     }
   })
  })

}
    
    </script>
  {% endblock content %}

  