{% extends 'management/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- create camera modal here-->

     
<style>
  .tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
</style>


     


      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">approvals process</h4>
            <div class="tree">
              <ul>
                {% for application in applications %}
                  <li>
                      <span><i class="icon-calendar"></i>{{application.type.name}} </span>
                      <ul>
                        
                          <li>
                            <span class="badge badge-success"><i class="icon-minus-sign"></i>{{application.created}}</span>
                              <ul>
                                  <li>
                                    <a href=""><span><i class="icon-time"></i> 8.00</span> &ndash; Changed CSS to accomodate...</a>
                                  </li>
                              </ul>
                          </li>
                          
                          
                          <li>
                            <span class="badge badge-important"><i class="icon-minus-sign"></i> Wednesday, January 9: 4.00 hours</span>
                              <ul>
                                  <li>
                                    <a href=""><span><i class="icon-time"></i> 2.00</span> &ndash; Create component that...</a>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  {% endfor %}
                  
              </ul>
          </div>
                </div>
                </div>
                </div>
              
            <div class="col-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">My approvals</h4>
                  <p class="card-description">
                    <div class="table-responsive">
                        <table class="table table-striped" id="ApprovalTab">
                          <thead>
                            <tr>
                              <th>
                                Type
                              </th>
                              <th>
                                applicant
                              </th>
                              <th>
                                approvers
                              </th>
                              <th>
                                progress
                              </th>
                              <th>
                                created
                              </th>
                              <th>
                                status
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for application in applications %}
                            <tr>
                              <td class="py-1">
                                 {{application.type}}
                              </td>
                              <td>
                                {{application.applicant}}
                              </td>
                              <td>
                                {{application.approvers}}
                              </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 3%" aria-valuenow="3" aria-valuemin="0" aria-valuemax="3"></div>
                                </div>
                              </td>
                              <td>
                                {{application.created}}
                              </td>
                              {% if application.status == "rejected" %}
                              <td style="color:red">
                                {{application.status}}
                              </td>
                              {% else %}

                              <td style="color:green">
                                {{application.status}}
                              </td>
                              {% endif %}

                            </tr>

                            {% endfor %}
                 
                          </tbody>
                        </table>
                      </div>
                  </p>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
         
        </footer>
        <!-- partial -->
      </div>

    <script>
      $(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
});
    
    </script>
  {% endblock content %}

  