{% extends 'management/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- create camera modal here-->

     






      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
           
          
              
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">My approvals</h4>
                  <p class="card-description">
                    <div class="table-responsive">
                        <table class="table table-striped" id="ApprovalTab">
                          <thead>
                            <tr>
                              <th>
                                Type
                              </th>
                              <th>
                                applicant
                              </th>
                              <th>
                                approvers
                              </th>
                              <th>
                                progress
                              </th>
                              <th>
                                created
                              </th>
                              <th>
                                status
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for application in applications %}
                            <tr>
                              <td class="py-1">
                                 {{application.type}}
                              </td>
                              <td>
                                {{application.applicant}}
                              </td>
                              <td>
                                {{application.approvers}}
                              </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 3%" aria-valuenow="3" aria-valuemin="0" aria-valuemax="3"></div>
                                </div>
                              </td>
                              <td>
                                {{application.created}}
                              </td>
                              <td>
                                {{application.status}}
                              </td>
                            </tr>

                            {% endfor %}
                 
                          </tbody>
                        </table>
                      </div>
                  </p>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
         
        </footer>
        <!-- partial -->
      </div>

    <script>
    
    </script>
  {% endblock content %}

  