{% extends 'management/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- create camera modal here-->

     
<style>
  .tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {management_create_approval
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
</style>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recallModal" style="display:none"  id="recallModalBtn">
 
</button>

<!-- Modal -->
<div class="modal fade" id="recallModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button class="btn btn-danger" onclick="Recall()"><i class="ti-times"></i>recall</button>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputName1">id</label>
            <input type="text" class="form-control" id="approvalId" placeholder="Name" readonly>
          </div>
          
         
          <div class="form-group">
            <label for="exampleTextarea1">remarks</label>
            <textarea class="form-control" id="approvalRemarks" rows="4"></textarea>
          </div>
          <button type="button" class="btn btn-primary mr-2" onclick="addComment()">Remark</button>
        
        </form>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

<!--create approvers-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#apprvModal" style="display:none"  id="apprvModalBtn">
 
</button>

<div class="modal" id="apprvModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">create approvals category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
       <iframe height="500px" width="100%" id="apprvFrame"></iframe>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
     
     


      <!-- partial -->
      <div class="main-panel"> 
              
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card" style="height:500px; overflow-y: scroll;">
              <div class="card">
                <button class="btn btn-outline" style="margin:10px; width:40px; border-color: black;;" onclick="createApprv()"><i class="fa fa-cogs"></i></button> 
                <div class="card-body">
                  
                  <h4 class="card-title">approvals process</h4>
            <div class="tree">
              <ul>
                {% for application in applications %}
                {% if application.applicant.username == request.user.username %}
                  <li>
                      <span style="background-color:aquamarine"><i class="icon-calendar"></i>{{application.type.name}} -> {{application.created_time}} -> {{application.created_date}} </span>
                      <ul>
                        {% for track in tracks %}
                            {% if track.application.pk == application.pk %}
                          <li>
                            <span class="badge badge-success"><i class="icon-minus-sign"></i>{{track.date}}</span>
                              <ul>
                                  <li>
                                    <a href=""><span><i class="ti-timer"></i> {{track.time}}</span><img style="width: 50px; border-radius: 50%;" src="{{track.user.profile.image.url}}"><p>{{track.user.username}}</p> &ndash; {{track.comments}}</a>
                                  </li>
                              </ul>
                          </li>
                          {% endif %}
                          {% endfor %}
                          
                          
                          
                      </ul>
                  </li>
                  
                  {% endif %}
                  {% endfor %}
                  
              </ul>
          </div>
                </div>
                </div>
                </div>
              
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">My approvals</h4>
                  <p class="card-description">
                    <div class="table-responsive">
                        <table class="table table-striped" id="ApprovalTab">
                          <thead>
                            <tr>
                              <th>
                                Type
                              </th>
                              <th>
                                applicant
                              </th>
                              <th>
                                approvers
                              </th>
                              <th>
                                progress
                              </th>
                              <th>
                                created
                              </th>
                              <th>
                                time
                              </th>
                              <th>
                                status
                              </th>
                              <th>
                                action
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for application in applications %}
                            {% if application.applicant.username == request.user.username %}
                            <tr>
                              <td class="py-1">
                                 {{application.type}}
                              </td>
                              <td>
                                {{application.applicant}}
                              </td>
                              <td>
                                {{application.approvers}}
                              </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ application.rate }}%" aria-valuenow="3" aria-valuemin="0" aria-valuemax="3"></div>
                                </div>
                              </td>
                              <td>
                                {{application.created_date}}
                              </td> <td>
                                {{application.created_time}}
                              </td>
                              {% if application.status == "rejected" %}
                              <td style="color:red">
                                {{application.status}}
                              </td>
                              {% else %}

                              <td style="color:green">
                                {{application.status}}
                              </td>
                              {% endif %}
                              <td>
                                 <button class="btn btn-secondary" onclick="openRecallModal('{{application.pk}}');"> recall </button>
                              </td>

                            </tr>
                            {% endif %}

                            {% endfor %}
                 
                          </tbody>
                        </table>
                      </div>
                  </p>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
         
        </footer>
        <!-- partial -->
      </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script>
      $(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
});

function openRecallModal(id){
  alert(id)

    $("#recallModalBtn").click()
    $("#approvalId").val(id)
      
}
function Recall(){

    $.ajax({

       type:"post",
       url:"{% url 'management_recall_approval' %}",
       data:{
              id:$("#approvalId").val(),
              csrfmiddlewaretoken:'{{ csrf_token }}'

       },
       success:function(data,status){
           
             alert(data)
       }
    })
}

function addComment(){

  $.ajax({

type:"post",
url:"{% url 'management_recall_by_comment' %}",
data:{
      id:$("#approvalId").val(),
       remark:$("#approvalRemarks").val(),
       csrfmiddlewaretoken:'{{ csrf_token }}'

},
success:function(data,status){
    
      alert(data)
}
})

}
new DataTable('#ApprovalTab')

// create approvals category

function createApprv(){

  $("#apprvModalBtn").click()

  document.getElementById("apprvFrame").src = "create_approval"
}


$('select').selectpicker();
    
    </script>
  {% endblock content %}

  