{% extends 'management/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- create camera modal here-->

     






      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
           
          
              
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Initiate approvals</h4>
                  <p class="card-description">
                    
                  </p>
                  <form class="forms-sample" method="POST">
                    {% for field in appForm %}
                    {% csrf_token %}
                    <div class="form-group">
                       {{field | as_crispy_field}}
                    </div>
                   
                  {% endfor %}
                    
                   
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          
        </footer>
        <!-- partial -->
      </div>

    <script>
    
    </script>
  {% endblock content %}

  