{% extends 'management/base.html' %}

{% block content %}
<style>


.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
.face{
            width: 200px;
            height:200px;
            display: inline-block;
            position: relative;
            background-color: rgb(111, 159, 178);
            border-radius: 50%;
            box-shadow:inset 2px 2px 10px #0a5f01, inset 20px 20px 50px #01ed40;
        }
        .face::after{
            content: "";
            position: absolute;
            width:90px;
            height: 100px;
            transform: rotate(-20deg);
            background-color: #000;
            left:0;
            animation: animation1 0.3s infinite;
            border-radius: 50px 50px 0px 0px;
            top: -20px;
            z-index: -100;
        }
        .face::before{
            content: "";
            position: absolute;
            width:90px;
            height: 100px;
            transform: rotate(20deg);
            background-color: #000;
            animation: animation 0.3s infinite;
            right:0;
            border-radius: 50px 50px 0px 0px;
            top: -20px;
            z-index: -100;
        }
        .eye1{
            position: absolute;
            width: 50px;
            height: 30px;
            background-color: aliceblue;
            border: 3px solid #000;
            border-radius: 50%;
            text-align: center;
            top:40px;
            left:30px;
            border-top: 30px solid #000000;
        }

        .eye1::before{
            content:"";
            position: absolute;
            width:10px;
            height: 10px;
            top: 30%;
            left: 30%;
            animation: animation 0.3s infinite;
            border-radius: 50%;
            transition: 0.5s;
            border:5px solid #000;
            background-color: #9b9999;
        }
        .eye2{
            position: absolute;
            width: 50px;
            height: 30px;
            background-color: aliceblue;
            border: 3px solid #000;
            border-radius: 50%;
            text-align: center;
            border-top: 30px solid #000000;
            top:40px;
            right:30px;
        }
        .eye2::before{
            content:"";
            position: absolute;
            width:10px;
            height: 10px;
            animation: animation 0.3s infinite;
            top: 30%;
            right: 30%;
            border-radius: 50%;
            border:5px solid #000;
            background-color: #9b9999;
        }
        .nose{
            position: absolute;
            width:60px;
            height: 50px;
            background-color: #000;
            border-radius: 50%;
            top: 50%;
            left:35%;
            border-top: 3px solid #fff;
        }
        .mouth{
            position: absolute;
            width:150px;
            height: 100px;
            background-color: transparent;
            top:35%;
            left:15%;
            border-bottom: 10px solid #000;
            animation: animation2 3s infinite;
            border-radius: 50%;
        }
        @keyframes animation{
            0%{
                transform:rotate(20deg) scale(1);
            }
          
            100%{
               
                transform: rotate(20deg) scale(1.2);
            }
        }
        @keyframes animation1{
            0%{
                transform:rotate(-20deg) scale(1);
            }
          
            100%{
               
                transform: rotate(-20deg) scale(1.2);
            }
        }
        @keyframes animation2{
            0%{
                border-radius: 30px;
            }
          
            100%{
               
                border-radius: 100%;
            }
        }
#profilez{
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#profilez::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

</style>


    <div class="container p-0" style="margin-top:50px; zoom:80%">

		<h1 class="h3 mb-3">Messages</h1>
        <div class="flex-grow-1">

            <input type="text" class="form-control my-3" placeholder="@" list="searchUser" id="pname" onkeyup="search()">
            <datalist id="searchUser">
                {% for profile in profiles %}
                <option value="{{profile.user.username}}">{{profile.first}}</option>
                {% endfor %}
            </datalist>
        </div>
        <button class="btn btn-outline" onclick="showProfiles()" id="chatBtn"  style="display:none"><i class="fa fa-arrow-left"></i></button>

		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right" style="zoom:85%; height:1300px;" id="profilez">
                    
					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							
						</div>
					</div>
					<div>
                    {% for profile in profiles %}
					<a onclick="insertChatBox('{{profile.user.id}}')" class="list-group-item list-group-item-action border-0" style="">
						<div class="flexi">
                        <div class="badge bg-success float-right" id="chats-no" style="color:black"></div>
                        
						<div class="d-flex align-items-start" id="profileDiv">
                         
							<img src="{{profile.image.url}}" class="rounded-circle mr-1"  width="40" height="40">
							<div class="flex-grow-1 ml-3">
								{% if profile.user.username == request.user.username %}
								me
								{% else %}
								<p>{{profile.user.username}}</p>
								{% endif %}
                            
								<div class="small"><span class="fas fa-circle chat-online"></span> @{{profile.first}}</div>

                            </div>
                           
						</div>
                        </div>
					</a>
                    {% endfor %}
					</div>
                   

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9">
				<iframe height="1300px;" width="100%" id="chatBox" style="zoom:75%; border:5px solid greenyellow;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-rNfcR4hxsEdCopu_oIKBGPwmbUIl6FsoNjC7tnDoVA&s">
					<p>yes</p>
				</iframe>



				</div>
			</div>
		</div>
	</div>

<script>
     setInterval(getLatest,1000)
	

	function getLatest(){

		var url = "{% url 'management_chat_notify' %}"

		$.get(url,

           function(data,status){
           
           var numbers = data["no"]
           var msgs = data["msg"]
           var sender = data["sender"]
           var dates = data["dates"]
          
         

           	var noChatDiv = document.getElementsByClassName("badge bg-success float-right")
			var sum = 0
			for(var i=0;i<numbers.length;i++){
				noChatDiv[i].innerHTML = numbers[i]
				sum += parseInt(numbers[i])

			}

			document.getElementById("unread").innerHTML = sum
              
            document.getElementById("not-p").innerHTML = '<strong>'+sender[sender.length-1].toString()+'</strong>'+' '+msgs[msgs.length-1].toString()+ ' sent on:'+dates[dates.length-1]

         

			
           }

			)
	}

	function insertChatBox(id){
       $("#profilez").hide()
       $("#chatBtn").show()
       document.getElementById("chatBox").src = 'live_chat/live_chat_user/'+id
	}

   function search(){
          var value = $("#pname").val()
              var value=value.toLowerCase();
              //alert(value)
             $('.flexi').hide()
      
            $('.flexi:contains("'+value+'")').show()
      
          
        }

function showProfiles(){
    $("#profilez").show()
    $("#chatBtn").hide()
}
</script>

{% endblock content %}
