{% extends 'management/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- create camera modal here-->

     


<style>
  @keyframes glow {
  0% {
    box-shadow: 0 0 0 0 $crimson;
  }
  
  50% {
    box-shadow: 0 0 30px 0 $crimson;
  }
}

.btn {
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-glow {
  background: $crimson;
  color: #fff;
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 34px;
  box-shadow: 0 0 0 0 $crimson;
  animation: glow 1.4s ease-out infinite;
}
</style>



      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">clock in <i class="fa fa-clock"></i></h4>
                  <img style="width: 50px; border-radius: 50%;" src="{{user.profile.image.url}}">
                  <marquee width="80%" direction="right" height="20px" id="statuss">
                    clock in and out
                    </marquee>
                  
                  <form class="forms-sample" style="display:none">
                    <div class="form-group">
                     <input type="text" class="form-control" id="longitudes" readonly>
                     
                  </div>
                  <div class="form-group">
                    
                    <input type="text" class="form-control" id="latitudes" readonly>
                    
                 </div>
                 <div class="form-group">
                  <input type="text" class="form-control" id="image_info" readonly>
                  
               </div>
               <div class="form-group">
                <input type="text" class="form-control" id="my_ip" readonly>
                
             </div>
                  </form>
                  <div>

                   

                  </div>
                  <p class="card-description" style="color:gree" id="video_msg">
                   
                  </p>
                  <div>
                    <p style="color:green">set clock in > <span id="h1"></span>:<span id="m1"></span></p>
                    <p style="color:green">set clock out > <span id="h2">:</span><span id="m2"></span></p>
                  <a class="ti-eye" onclick="getClock();">view</a>
                  <div>
                  <div>
                  <i class="ti-alarm-clock" style="color:green" id="in"></i>
                  </div>
                  <div>
                    <i class="ti-alarm-clock" style="color:blue" id="out"></i>
                    </div>
                  </div>
                  </div>
                  <button class="btn btn-primary btn-circle" style="margin: 25px;width:200px;height:200px;border-radius:35px; background-color:orange;" >
                     <p style="color:white; font-weight: bold;" id="timenow"></p>
                     <i class="fa fa-clock"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Image set</h4>
                  <p class="card-description">
                   capture image to complete process
                  </p>
                  <div class="row">
                    <div class="col" style="border-color:green; border-style:dotted">
                      <video id="video" width="280" height="240"  autoplay></video>
                    </div>
                    
                    <div class="col" style="border-color:blue; border-style:dotted">

                      <canvas id="canvas" width="285" height="200" ></canvas>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                  <button class="btn btn-secondary" id="click-photo"><i class="ti-image"></i>capture</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-primary" onclick="subClockin();"><i class="ti-save"></i>submit</button>
                  </div>
                  </div>
                  <br>
                  
                </div>
              </div>
            </div>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Apply leave</h4>
                  <p class="card-description">
                    annual,sick, compassionate
                    <h4 id="success">
                       
                    </h4>
                  </p>
                <form id="leaveForm" enctype="multipart/form-data" method="POST">
                  {% csrf_token %}

                  {% for field in leave_form %}
                    <div class="form-group">
                       {{field | as_crispy_field}}
                    </div>
                  {% endfor %}
                    
                   
                    
                    
                   
                  
                    <button type="submit" class="btn btn-primary mr-2" onclick="loadLeave();">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          
        </footer>
        <!-- partial -->
      </div>

    <script>
      // creating live clock
getClock()
      function startTime() {
          const today = new Date();
          
          let h = today.getHours();
          let min = today.getMinutes();
          let sec = today.getSeconds();
          console.log(min)
          m = checkTime(min);
          s = checkTime(sec);
          document.getElementById('timenow').innerHTML =  h + ":" + m + ":" + s+ "";
          if((h>=document.getElementById("h1").innerHTML && min>document.getElementById("m1").innerHTML) && document.getElementById("in").innerHTML == ""){
            document.getElementById('timenow').style.color = "red";
            document.getElementById('timenow').innerHTML =  h + ":" + m + ":" + s+ "late";
          }else if((h>=document.getElementById("h2").innerHTML && min>document.getElementById("m2").innerHTML) || document.getElementById("in").innerHTML != ""){
            document.getElementById('timenow').innerHTML =  h + ":" + m + ":" + s+ " clock out";

          }else if((document.getElementById("in").innerHTML != "" && document.getElementById("in").innerHTML != "") && (h>=document.getElementById("h2").innerHTML && min>document.getElementById("m2").innerHTML) ){
                
            document.getElementById('timenow').innerHTML =  h + ":" + m + ":" + s+ "complete";
          }else if ((h>=document.getElementById("h2").innerHTML && min>document.getElementById("m2").innerHTML) && (document.getElementById("in").innerHTML == "" && h<24)){
                 
            document.getElementById('timenow').innerHTML =  h + ":" + m + ":" + s+ "missed clock in";
          }
          else if((document.getElementById("in").innerHTML != "" && document.getElementById("in").innerHTML != "") && (h<=document.getElementById("h2").innerHTML) ){

            document.getElementById('timenow').innerHTML =  h + ":" + m + ":" + s+ "left early!!";
          }
          setTimeout(startTime, 1000);
      }

        function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
        }
        startTime()

    // propmp locationn and camera 

       function getLoc(){
        if(document.getElementById("longitudes").value == ''){
            if(navigator.geolocation){

              navigator.geolocation.getCurrentPosition(getCoord);
              $.getJSON("https://api.ipify.org?format=json", function(data) {
         
         // Setting text of element P with id gfg
        
         document.getElementById("my_ip").value = data.ip
     })
              
            }else{
                
                alert("your device browser does not support")
            }
              
              
          }else{

              alert("details already recorded")
          }
        }
       function getCoord(position){

          var lat = position.coords.latitude;
          var long = position.coords.longitude;
          document.getElementById("longitudes").value = long
          document.getElementById("latitudes").value = lat
       }


       let camera_button = document.querySelector("#timenow");
        let video = document.querySelector("#video");
        let click_button = document.querySelector("#click-photo");
        let canvas = document.querySelector("#canvas");

        camera_button.addEventListener('click', async function() {
            let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
          video.srcObject = stream;
          getLoc();
          document.getElementById("video_msg").innerHTML = "scroll down video initiated";

        });

        click_button.addEventListener('click', function() {
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            let image_data_url = canvas.toDataURL('image/jpeg');

            // data url of the image
            //console.log(image_data_url);
            document.getElementById("image_info").value = image_data_url
            video.srcObject.getVideoTracks().forEach(track => track.stop());
        });

      // submit clock in details 

        function subClockin(){

             alert("done")
            $.ajax({
              
              type:"POST",
              url:"{% url 'management-clock' %}",
              data: {

                 latitude: $("#latitudes").val(),
                 longitude: $("#longitudes").val(),
                 image_str:$("#image_info").val(),
                 csrfmiddlewaretoken:'{{ csrf_token }}'
              },

              success:function(data,status){
                 alert(data)
              }
            })
        }
  
      // upload leave data 
 function loadLeave(){
  
     $("#leaveForm").submit(function(e){
      e.preventDefault()

      $form = $(this)
      var formData = new FormData(this);
    
      $.ajax({
        method:"post",
        url:"{% url 'management_upload_leave' %}",
        data:formData,
        processData: false,
   contentType: false,
        success:function(data,status){
          $("#success").html(data)
        }
      })
     })

 }

 // pull time of clock in and out 

 function getClock(){
/**
     $.ajax({
         
      url: "{% url 'management-get-attendance' %}",
      type:"GET",
      success:function(data,status){

         console.log(data)
      }

     })
  **/

  let fetchRes = fetch(

  "{% url 'management-get-attendance' %}"
  
  );
    // fetchRes is the promise to resolve
    // it by using.then() method
    fetchRes.then(res =>
        res.json()).then(d => {
           console.log(d)
           if(d["error"]){
            document.getElementById("statuss").innerHTML = d["error"];
            document.getElementById("statuss").style.color = "red"
           }
           document.getElementById("h1").innerHTML = d["h1"];
           document.getElementById("m1").innerHTML = d["m1"];
           document.getElementById("h2").innerHTML = d["h2"];
           document.getElementById("m2").innerHTML = d["m2"];
           document.getElementById("in").innerHTML = d["clock_in"];
           document.getElementById("out").innerHTML = d["clock_out"];
        })

 }


   
  alert(new Date(document.getElementById("id_start").value) - new Date(document.getElementById("id_start").value))
     
 
 var input1 = document.getElementById("id_start")
 input1.addEventListener("change",(event) => {

       var start = new Date(document.getElementById("id_start").value) 
       var end  = new Date(document.getElementById("id_start").value)
       document.getElementById("id_days").value = end - start
 })

    </script>
  {% endblock content %}

  