{% load static %}
{% load crispy_forms_tags %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'management/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'management/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'management/js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'management/css/vertical-layout-light/style.css' %}">
    <link rel="shortcut icon" href="{% static 'logo/logo.jpg' %}" />
    <!-- endinject -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
       
        <!-- partial -->
        <div class="container-fluid page-body-wrapper" style="zoom:75%">
            <div class="main-panel">        
                <div class="content-wrapper">
                  <div id="loaders5" style="display: none;">
                    <div class="spinner-grow text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-secondary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-success" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    </div>
          <div class="row">
            <form class="forms-sample">
                <div class="form-group">
                  <label>approval name</label>
                  <input type="text" class="form-control" id="approvalName" placeholder="Name">
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label>select approvers</label>
                <select class="selectpicker" multiple data-live-search="true" id="approversName">

                    {% for employee in employees %}
                    <option value="{{employee.emp_id}}">{{employee.first_name}} {{employee.second_name}}</option>
                    {% endfor %}
                  </select>
                  </div>
                <label>create template</label>
                  <div class="form-group">
                   
                    {{form.media}}
                    {{form.template}}
                  </div>
                  <br>
                  <br>
                <button type="button" class="btn btn-primary mr-2" onclick="createApproval()">create</button>
              
              </form>
            
         
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
       
        <!-- partial -->
      </div>
      </div>
      </div>
      </div>
</body>
     <script>
        $('select').selectpicker();

        function createApproval(){

          $.ajax({

            type:"POST",
             url:"{% url 'management_create_approval' %}",
             data:{

                approval:$("#approvalName").val().toString(),
                approvers:$("#approversName").val().toString()
             },
             beforeSend:function(){
                $("#loaders5").show()
             },
             success:function(data,status){
               alert(data)
             },
             complete:function(){
                
                $("#loaders5").hide()
                location.reload()
  
               }

          })
        }


     </script>
</html>

  