{% extends 'management/base.html' %}

{% block content %} 



<!--details modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editSettingsModal" id="editSettingsIframeBtn" style="display:none">
    edit employee
   </button>
   
   <!-- Modal -->
   <div class="modal fade" id="editSettingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Edit attendance Settings</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
             <iframe id="editSettingsFrame" width="100%" height="1000" style="overflow-x: scroll;"></iframe>
              
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
         </div>
       </div>
     </div>
   </div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="editIframeBtn" style="display:none">
   edit employee
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <iframe id="editFrame" width="100%" height="1000" style="overflow-x: scroll;"></iframe>
             
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal" id="imageIframeBtn" style="display:none">
    show Image
   </button>

  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">show image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img id="imageFrame" width="100%" style="overflow-x: scroll;">
             
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mapModal" id="mapIframeBtn" style="display:none">
    show map
   </button>

  <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">show location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <iframe id="mapFrame" width="100%" height="800" style="overflow-x: scroll;"></iframe>
             
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

<div class="main-panel">
    <!-- row -->
    <div class="content-wrapper">
            
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Reports</h4>
                    <h6 style="color:rgb(47, 255, 54)">{{details | length}} members</h6>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-pills mb-3">
                    <li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-outline mr-1 show active"><i class="fa fa-list"></i>members</a></li>
                    <li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary" style="background-color: orange;"><i class="fa fa-pause"></i>incomplete</a></li>
                    <li class="nav-item"><a href="#settings" data-toggle="tab" class="nav-link btn-primary" style="background-color: red;"><i class="fa fa-times"></i>resigned</a></li>
                    <li class="nav-item"><a href="#today" data-toggle="tab" class="nav-link btn-primary" style="background-color:green;"><i class="fa fa-calender"></i>attendance</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="row tab-content">
                    <div id="list-view" class="tab-pane fade active show col-lg-12">
                        <div class="card">
                            
                            <div class="card-body">
                       
                                <div class="table-responsive">
                                    <table  class="table table-striped"  id="employee" style="zoom: 85%; font-weight: bolder;">
                                        <thead style="background-color:azure">
                                            <tr>
                                                <th>#</th>
                                                <th>Image</th>
                                                <th>First Name</th>
                                                <th>Second Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Role</th>
                                               
                                                <th>Status</th>
                                                <th>DOJ</th>
                                                <th>More</th>
                                                <th>Attendance Settings</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for detail in details %}
                                            <tr>

                                                <td>
                                                   {{detail.emp_id}}

                                                    
                                                </td>
                                                <td>
                                                    <img src="{{detail.image.url}}">
                                               
                                                </td>
                                                <td>
                                                     {{detail.first_name}}
                                                </td>
                                                <td>
                                                    {{detail.second_name}}
                                                 
                                                </td>
                                                
                                                <td>
                                                     {{detail.email}}
                                                </td>
                                                <td>
                                                      {{detail.phone}}
                                                </td>
                                                <td>
                                                     {{detail.role}}
                                                    
                                                </td>
                                                <td>

                                                   {{detail.status}}
                                                </td>
                                                <td>
                                                    {{detail.doj}}
                                                </td>
                                                {% if request.user.is_staff %}
                                                <td>
                                                    <a class="ti-pencil" onclick="editDepEmp('{{detail.pk}}')">audit</a>
                                                </td>
                                                {% endif %}
                                                {% if request.user.is_staff %}
                                                <td>
                                                    <a class="ti-pencil" onclick="editSettings('{{detail.emp_id}}')">settings</a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                           {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="grid-view" class="tab-pane fade col-lg-12">
                        
                    
                            <div class="card">
                            
                                <div class="card-body">
                           
                                    <div class="table-responsive">
                                        <table  class="table table-striped"  id="incomplete" style="zoom: 85%; font-weight: bolder;">
                                            <thead style="background-color:orange">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Image</th>
                                                    <th>First Name</th>
                                                    <th>Second Name</th>
                                                    <th>Email</th>
                                                    <th>Phone Number</th>
                                                    <th>Role</th>
                                                   
                                                    <th>Status</th>
                                                    <th>DOJ</th>
                                                    <th>More</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                               {% for detail in details %}
                                                  {% if detail.status == "incomplete" %}
                                                <tr>
    
                                                    <td>
                                                       {{detail.emp_id}}
    
                                                        
                                                    </td>
                                                    <td>
                                                        <img src="{{detail.image.url}}">
                                                   
                                                    </td>
                                                    <td>
                                                         {{detail.first_name}}
                                                    </td>
                                                    <td>
                                                        {{detail.second_name}}
                                                     
                                                    </td>
                                                    
                                                    <td>
                                                         {{detail.email}}
                                                    </td>
                                                    <td>
                                                          {{detail.phone}}
                                                    </td>
                                                    <td>
                                                         {{detail.role}}
                                                        
                                                    </td>
                                                    
                                                    <td>
    
                                                       {{detail.status}}
                                                    </td>
                                                    <td>
                                                        {{detail.doj}}
                                                    </td>
                                                    <td>
                                                        <a class="ti-pencil" onclick="editDepEmp('{{detail.pk}}')">audit</a>
                                                    </td>
                                                </tr>
                                                   {% endif %}
                                               {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
               
                    </div>
                    <div id="settings" class="tab-pane fade col-lg-12">
                        <div class="card">
                            
                            <div class="card-body">
                       
                                <div class="table-responsive">
                                    <table  class="table table-striped"  id="removed" style="zoom: 85%; font-weight: bolder;">
                                        <thead style="background-color:red">
                                            <tr>
                                                <th>#</th>
                                                <th>Image</th>
                                                <th>First Name</th>
                                                <th>Second Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Role</th>
                                               
                                                <th>Status</th>
                                                <th>DOJ</th>
                                                <th>More</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for detail in details %}
                                              {% if detail.status == "resigned" or detail.status == "terminated"  %}
                                            <tr>

                                                <td>
                                                   {{detail.emp_id}}

                                                    
                                                </td>
                                                <td>
                                                    <img src="{{detail.image.url}}">
                                               
                                                </td>
                                                <td>
                                                     {{detail.first_name}}
                                                </td>
                                                <td>
                                                    {{detail.second_name}}
                                                 
                                                </td>
                                                
                                                <td>
                                                     {{detail.email}}
                                                </td>
                                                <td>
                                                      {{detail.phone}}
                                                </td>
                                                <td>
                                                     {{detail.role}}
                                                    
                                                </td>
                                                
                                                <td>

                                                   {{detail.status}}
                                                </td>
                                                <td>
                                                    {{detail.doj}}
                                                </td>
                                                <td>
                                                    <a class="ti-pencil" onclick="editDepEmp('{{detail.pk}}')">audit</a>
                                                </td>
                                            </tr>
                                               {% endif %}
                                           {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
            </div>
            <div id="today" class="tab-pane fade col-lg-12">
                <div class="card">
                    
                    <div class="card-body">
               
                        <div class="table-responsive">
                            <table  class="table table-striped"  id="attendance" style="zoom: 85%; font-weight: bolder;">
                                <thead style="background-color:aquamarine">
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Second Name</th>
                                        <th>Day</th>
                                        <th>Clock In</th>
                                        <th>Clock Out</th>
                                        <th>Clock In Location</th>
                                        <th>Clock Out Location</th>
                                       
                                        <th>Image</th>
                                        <th>Deductions</th>
                                        <th>Hours</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for attendance in attendances %}
                                      {% if attendance.employee.emp_id == request.user.username or request.user.is_staff %}
                                    <tr>

                                        <td>
                                           {{attendance.employee.emp_id}}

                                            
                                        </td>
                                        <td>
                                           {{attendance.employee.first_name}}
                                       
                                        </td>
                                        <td>
                                            {{attendance.employee.second_name}}
                                        </td>
                                        <td>
                                            {{attendance.day}}
                                         
                                        </td>
                                        
                                        <td>
                                            {{attendance.clock_in}}
                                        </td>
                                        <td>
                                            {{attendance.clock_out}}
                                        </td>
                                        <td>
                                            <button class="btn btn-outline" onclick="showMap('{{attendance.lat}}','{{attendance.long}}')"><i class="fa fa-map-marker"></i></button>
                                            
                                        </td>
                                        <td>
                                            <button class="btn btn-outline" onclick="showMap('{{attendance.lat1}}','{{attendance.long1}}')"><i class="fa fa-map-marker"></i></button>
                                            
                                        </td>
                                        <td>
                                            <button class="btn btn-outline" onclick="showImage('{{attendance.image1}}')">
                                                <i class="fa fa-image"></i>

                                            </button>
                                        </td>
                                        
                                        <td>

                                           {{attendance.deductions}}
                                        </td>
                                        <td>
                                            {{attendance.hours}}
                                        </td>
                                    
                                    </tr>
                                       {% endif %}
                                   {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>
        </div>
       
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script>

new DataTable('#attendance');
     new DataTable('#employee');
     new DataTable('#incomplete');
     new DataTable('#removed');

    function editDepEmp(id){
        
        $("#editIframeBtn").click()
        window.history.pushState({}, document.title, "/")
        document.getElementById("editFrame").src = 'edit_employee/'+id
       
        
        
        

    }

function showImage(image_url){
  
    $("#imageIframeBtn").click()
    document.getElementById("imageFrame").src = image_url
}


function showMap(lat,long){
     
    $("#mapIframeBtn").click()
    var new_url = lat+"_"+long
    window.history.pushState({}, document.title, "/");
    document.getElementById("mapFrame").src = 'show_map/'+new_url
}

function editSettings(emp_id){

    $("#editSettingsIframeBtn").click()
    window.history.pushState({}, document.title, "/");
    document.getElementById("editSettingsFrame").src = 'edit_settings/'+emp_id
     
}

    
 </script>


{% endblock content %}