{% extends 'management/base.html' %}
{% block content %}

<style>

.file-manager-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.file-manager-actions > * {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.file-manager-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.file-item {
    position: relative;
    z-index: 1;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border: 1px solid #eee;
    cursor: pointer;
}
.file-item:hover,
.file-item.focused {
    border-color: rgba(0, 0, 0, 0.05);
}
.file-item.focused {
    z-index: 2;
}
.file-item * {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-decoration:none;
}
.dark-style .file-item:hover,
.dark-style .file-item.focused {
    border-color: rgba(255, 255, 255, 0.2);
}
.file-item-checkbox {
    margin: 0 !important;
}
.file-item-select-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
.file-item-img {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}
.file-item-name {
    display: block;
    overflow: hidden;
}
.file-manager-col-view .file-item {
    margin: 0 0.25rem 0.25rem 0;
    padding: 1.25rem 0 1rem 0;
    width: 9rem;
    text-align: center;
}
[dir="rtl"] .file-manager-col-view .file-item {
    margin-right: 0;
    margin-left: 0.25rem;
}
.file-manager-col-view .file-item-img,
.file-manager-col-view .file-item-icon {
    display: block;
    margin: 0 auto 0.75rem auto;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    line-height: 4rem;
}
.file-manager-col-view .file-item-level-up {
    font-size: 1.5rem;
}
.file-manager-col-view .file-item-checkbox,
.file-manager-col-view .file-item-actions {
    position: absolute;
    top: 6px;
}
.file-manager-col-view .file-item-checkbox {
    left: 6px;
}
[dir="rtl"] .file-manager-col-view .file-item-checkbox {
    right: 6px;
    left: auto;
}
.file-manager-col-view .file-item-actions {
    right: 6px;
}
[dir="rtl"] .file-manager-col-view .file-item-actions {
    right: auto;
    left: 6px;
}
.file-manager-col-view .file-item-name {
    width: 100%;
}
.file-manager-col-view .file-manager-row-header,
.file-manager-col-view .file-item-changed {
    display: none;
}
.file-manager-row-view .file-manager-row-header,
.file-manager-row-view .file-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 0.125rem 0;
    padding: 0.25rem 3rem 0.25rem 2.25em;
    width: 100%;
}
[dir="rtl"] .file-manager-row-view .file-manager-row-header,
[dir="rtl"] .file-manager-row-view .file-item {
    padding-right: 2.25em;
    padding-left: 3rem;
}
.file-manager-row-view .file-item-img,
.file-manager-row-view .file-item-icon {
    display: block;
    margin: 0 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2rem;
}
.file-manager-row-view .file-item-level-up {
    font-size: 1rem;
}
.file-manager-row-view .file-item-checkbox,
.file-manager-row-view .file-item-actions {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.file-manager-row-view .file-item-checkbox {
    left: 10px;
}
[dir="rtl"] .file-manager-row-view .file-item-checkbox {
    right: 10px;
    left: auto;
}
.file-manager-row-view .file-item-actions {
    right: 10px;
}
[dir="rtl"] .file-manager-row-view .file-item-actions {
    right: auto;
    left: 10px;
}
.file-manager-row-view .file-item-changed {
    display: none;
    margin-left: auto;
    width: 10rem;
}
[dir="rtl"] .file-manager-row-view .file-item-changed {
    margin-right: auto;
    margin-left: 0;
}
.file-manager-row-view .file-item-name {
    width: calc(100% - 4rem);
}
.file-manager-row-view .file-manager-row-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-weight: bold;
}
.file-manager-row-view .file-manager-row-header .file-item-name {
    margin-left: 4rem;
}
[dir="rtl"] .file-manager-row-view .file-manager-row-header .file-item-name {
    margin-right: 4rem;
    margin-left: 0;
}
.light-style .file-item-name {
    color: #4e5155 !important;
}
.light-style .file-item.selected .file-item-select-bg {
    opacity: 0.15;
}
@media (min-width: 768px) {
    .light-style .file-manager-row-view .file-item-changed {
        display: block;
    }
    .light-style .file-manager-row-view .file-item-name {
        width: calc(100% - 15rem);
    }
}
@media (min-width: 992px) {
    .light-style .file-manager-col-view .file-item-checkbox,
    .light-style .file-manager-col-view .file-item-actions {
        opacity: 0;
    }
    .light-style .file-manager-col-view .file-item:hover .file-item-checkbox,
    .light-style .file-manager-col-view .file-item.focused .file-item-checkbox,
    .light-style .file-manager-col-view .file-item.selected .file-item-checkbox,
    .light-style .file-manager-col-view .file-item:hover .file-item-actions,
    .light-style .file-manager-col-view .file-item.focused .file-item-actions,
    .light-style .file-manager-col-view .file-item.selected .file-item-actions {
        opacity: 1;
    }
}
.material-style .file-item-name {
    color: #4e5155 !important;
}
.material-style .file-item.selected .file-item-select-bg {
    opacity: 0.15;
}
@media (min-width: 768px) {
    .material-style .file-manager-row-view .file-item-changed {
        display: block;
    }
    .material-style .file-manager-row-view .file-item-name {
        width: calc(100% - 15rem);
    }
}
@media (min-width: 992px) {
    .material-style .file-manager-col-view .file-item-checkbox,
    .material-style .file-manager-col-view .file-item-actions {
        opacity: 0;
    }
    .material-style .file-manager-col-view .file-item:hover .file-item-checkbox,
    .material-style .file-manager-col-view .file-item.focused .file-item-checkbox,
    .material-style .file-manager-col-view .file-item.selected .file-item-checkbox,
    .material-style .file-manager-col-view .file-item:hover .file-item-actions,
    .material-style .file-manager-col-view .file-item.focused .file-item-actions,
    .material-style .file-manager-col-view .file-item.selected .file-item-actions {
        opacity: 1;
    }
}
.dark-style .file-item-name {
    color: #fff !important;
}
.dark-style .file-item.selected .file-item-select-bg {
    opacity: 0.15;
}
@media (min-width: 768px) {
    .dark-style .file-manager-row-view .file-item-changed {
        display: block;
    }
    .dark-style .file-manager-row-view .file-item-name {
        width: calc(100% - 15rem);
    }
}
@media (min-width: 992px) {
    .dark-style .file-manager-col-view .file-item-checkbox,
    .dark-style .file-manager-col-view .file-item-actions {
        opacity: 0;
    }
    .dark-style .file-manager-col-view .file-item:hover .file-item-checkbox,
    .dark-style .file-manager-col-view .file-item.focused .file-item-checkbox,
    .dark-style .file-manager-col-view .file-item.selected .file-item-checkbox,
    .dark-style .file-manager-col-view .file-item:hover .file-item-actions,
    .dark-style .file-manager-col-view .file-item.focused .file-item-actions,
    .dark-style .file-manager-col-view .file-item.selected .file-item-actions {
        opacity: 1;
    }
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
</style>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#listEmpModal" id="listIframeBtn" style="display:none">edit modal</button>

<div class="modal fade" id="listEmpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">check details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <iframe id="listFrame" width="100%" height="1000" style="overflow-x: scroll;"></iframe>
             
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- more details modal-->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#moreDetailsModal" id="moreDetailsBtn" style="display:none"></button>

<div class="modal fade" id="moreDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">more details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <th>Title</th>
                <th>value</th>
              </thead>
              <tbody id="detailsTab">

              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
</div>


<link rel="shortcut icon" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="shortcut icon" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
      <div class="main-panel">
        <div class="content-wrapper">
          
          
          <!-- Modal -->
          
          <div class="row">
            
            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Employee list</h4>
                  <p class="card-description">
                   
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped" id="EmpTab">
                      <thead>
                        <tr>
                          <th>
                            image
                          </th>
                          <th>
                            empid
                          </th>
                          <th>
                            name
                          </th>
                          <th>
                            email
                          </th>
                          <th>
                            phone
                          </th>
                         
                          <th>
                            role
                          </th>
                          <th>
                            department
                          </th>
                          <th>
                            station
                          </th>
                          <th>
                            education level
                           </th>
                          <th>
                            DOJ
                          </th>
                          <th>
                            DOL
                          </th>
                          
                         
                          <th>
                            account #
                          </th>
                          <th>
                            Bank
                          </th>
                          <th>
                            Salary
                          </th>
                          <th>
                            allowance
                          </th>
                          <th>
                            addons
                          </th>
                          <th>
                            status
                          </th>
                          <th>
                            files
                          </th>
                          <th>
                            edit
                          </th>
                          <th>
                            more details
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for emp in employee %}
                        {% if user.is_staff %}
                        <tr>
                          <td class="py-1">
                            <img src="{{emp.image.url}}" alt="image"/>
                          </td>
                          <td>
                            <a style="color:blue" onclick="Profile('{{emp.emp_id}}')"> <i class="ti-eye"></i>{{emp.emp_id}}</a>
                          </td>
                          <td>
                            {{emp.first_name}}
                          </td>
                          <td>
                            {{emp.email}}
                          </td>
                          <td>
                            {{emp.phone}}
                          </td>
                         
                          <td>
                            {{emp.role}}
                          </td>
                          <td>
                             {{emp.department}}
                          </td>
                          <td>
                            {{emp.station}}
                          </td>
                          <td>
                            {{emp.education_level}}
                         </td>
                         <td>
                            {{emp.doj}}
                         </td>
                         <td>
                            {{emp.dol}}
                         </td>
                         <td>
                            {{emp.account_no}}
                         </td>
                         <td>
                            {{emp.bank_name}}
                         </td>
                         <td>
                            {{emp.salary}}
                         </td>
                         <td>
                            {{emp.allowance}}
                         </td>
                         <td>
                            {{emp.add_ons}}
                         </td>
                         <td>
                            {{emp.status}}
                         </td>
                          <!--views for admin-->
                          <td style="background-color:greenyellow">
                            <a onclick="viewFiles('{{emp.emp_id}}');"><i class="ti-files">documents</i></a>
                          </td>
                          <td>
                            <a  onclick="EditEmp('{{emp.pk}}')"><i class="ti-pencil"></i></a>
                          </td>
                          <th>
                            <button onclick="moreDetails('{{emp.emp_id}}')"><i class="fa fa-info"></i>
                              <p style="display:none">{{emp.other_fields}}</p>
                            </button>
                            
                          </th>
                        </tr>
                        {% elif employee.emp_id == request.user.username %}
                        <tr>
                          <td class="py-1">
                            <img src="{{emp.image.url}}" alt="image"/>
                          </td>
                          <td>
                            {{emp.emp_id}}
                          </td>
                          <td>
                            {{emp.first_name}}
                          </td>
                          <td>
                            {{emp.email}}
                          </td>
                          <td>
                            {{emp.phone}}
                          </td>
                         
                          <td>
                            {{emp.role}}
                          </td>
                          <td>
                             {{emp.department}}
                          </td>
                          <th>
                            {{emp.station}}
                          </th>
                          <td>
                            {{emp.education_level}}
                         </td>
                         <td>
                            {{emp.doj}}
                         </td>
                         <td>
                            {{emp.dol}}
                         </td>
                         <td>
                            {{emp.account_no}}
                         </td>
                         <td>
                            {{emp.bank_name}}
                         </td>
                         <td>
                            {{emp.salary}}
                         </td>
                         <td>
                            {{emp.allowance}}
                         </td>
                         <td>
                            {{emp.add_ons}}
                         </td>
                         <td>
                            {{emp.status}}
                         </td>
                          <!--views for admin-->
                          <td style="background-color:greenyellow">
                            <a onclick="viewFiles('{{emp.emp_id}}');"><i class="ti-files">documents</i></a>
                          </td>
                          <td>
                              -----
                          </td>
                          <th>
                            <button onclick="moreDetails('{{emp.emp_id}}');"></button>
                            <p>{{emp.other_fields}}</p>
                          </th>
                        </tr>
                        {% endif %}
                        {% endfor %}
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          
            
           
          </div>
        </div>
       
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fileModal" id="modalBtn" style="display:none">
          fil explorer
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">file explorer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="fileBody">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css" integrity="sha512-0/rEDduZGrqo4riUlwqyuHDQzp2D1ZCgH/gFIfjMIL5az8so6ZiXyhf1Rg8i6xsjv+z/Ubc4tt1thLigEcu6Ug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <div class="container flex-grow-1 light-style container-p-y">
                    <div class="container-m-nx container-m-ny bg-lightest mb-3">
                        <ol class="breadcrumb text-big container-p-x py-3 m-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">projects</a>
                            </li>
                            <li class="breadcrumb-item active">site</li>
                        </ol>
                
                        <hr class="m-0" />
                
                        <div class="file-manager-actions container-p-x py-2">
                            <div>
                                <button type="button" class="btn btn-primary mr-2"><i class="ion ion-md-cloud-upload"></i>&nbsp; Upload</button>
                                
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-default md-btn-flat dropdown-toggle px-2" data-toggle="dropdown"><i class="ion ion-ios-settings"></i></button>
                                    <div class="dropdown-menu">
                                        
                                        <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-default icon-btn md-btn-flat active"> <input type="radio" name="file-manager-view" value="file-manager-col-view" checked="" /> <span class="ion ion-md-apps"></span> </label>
                                    <label class="btn btn-default icon-btn md-btn-flat"> <input type="radio" name="file-manager-view" value="file-manager-row-view" /> <span class="ion ion-md-menu"></span> </label>
                                </div>
                            </div>
                        </div>
                
                        <hr class="m-0" />
                    </div>
                
                    <div class="file-manager-container file-manager-col-view" id="fileCols">
                        <div class="file-manager-row-header">
                            <div class="file-item-name pb-2">Filename</div>
                            <div class="file-item-changed pb-2">Changed</div>
                        </div>
                
                        <div class="file-item">
                            <div class="file-item-icon file-item-level-up fas fa-level-up-alt text-secondary"></div>
                            <a href="javascript:void(0)" class="file-item-name">
                                ..
                            </a>
                        </div>
                
                       
                
                       
                
                     
                
                        
                
                        
                
                
                        
                
                
                     
                
                        
                
                       
                
                
                        
                
                
                      
 
                        
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal" style="display:none" id="profileBtn">
         prifile modal
        </button>
        <!-- employee profile modal-->
        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">profile </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="modalBdy">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>


        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filesDetailModal" id="fileIframeBtn" style="display:none">edit modal</button>

<div class="modal fade" id="filesDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">check details</h5>
          <div id="loadingMessage">Loading...</div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <iframe id="fileFrame" width="100%" height="1000" style="overflow-x: scroll;"></iframe>
             
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>



        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>

<script>
    new DataTable('#EmpTab');

    function viewFiles(id){
      
    $("#fileIframeBtn").click()

    document.getElementById("fileFrame").src = "files_details/"+id


        
    }

    $('#fileFrame').ready(function () {
    $('#loadingMessage').css('display', 'none');
});
$('#fileFrame').load(function () {
    $('#loadingMessage').css('display', 'none');
});

    function Profile(id){

      $("#profileBtn").click()
      
      $.ajax({

         type:"POST",
         url:"{% url 'management_get_employee' %}",
         data:{
              
          id:id,
          csrfmiddlewaretoken:'{{ csrf_token }}',
         },
      
         success:function(data,status){
         
          var data = JSON.parse(data)
      for(key in data){
      $("#modalBdy").html(

          `
          <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="/media/${data[key]["fields"]["image"]}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">${data[key]["fields"]["first_name"] } ${data[key]["fields"]["second_name"] }</h5>
            <p class="text-muted mb-1">${data[key]["fields"]["role"]}</p>
            <p class="text-muted mb-4">${data[key]["fields"]["address"]}</p>
            <div class="d-flex justify-content-center mb-2">
              <a type="button" class="btn btn-primary" href="tel:${data[key]["fields"]["email"] }"><i class="fas fa-phone"></i></a>
              
              
            </div>
            
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-envelope fa-lg text-warning"></i>
                <p class="mb-0">${data[key]["fields"]["email"] }</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-location-crosshairs fa-lg" style="color: #333333;"></i>
                <p class="mb-0">${data[key]["fields"]["phone"] }</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-phone fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">${data[key]["fields"]["address"] }</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-location fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">${data[key]["fields"]["location"] }</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-whatsapp fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">${data[key]["fields"]["phone"] }</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">National id</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">${data[key]["fields"]["national_no"] }</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">dob</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">${data[key]["fields"]["dob"] }</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">next of kin</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">${data[key]["fields"]["next_kin_name"] }</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">next of kin phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">${data[key]["fields"]["next_kin_phone"] }</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">next of kin id</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">${data[key]["fields"]["next_kin_id"] }</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1"></span> Finance deatils
                </p>
                <p class="mb-1" style="font-size: .77rem;">Account number</p>
                <div  style="height: 10px;">
                  ${data[key]["fields"]["account_no"] }
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Bank</p>
                <div style="height: 10px;">
                  ${data[key]["fields"]["bank_name"] }
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">salary</p>
                <div  style="height: 10px;">
                  ${data[key]["fields"]["salary"] }
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">allowance</p>
                <div style="height: 10px;">
                  ${data[key]["fields"]["allowance"] }
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Addons</p>
                <div class="progress rounded mb-2" style="height: 10px;">
                  ${data[key]["fields"]["add_ons"] }
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1"></span> work status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Role</p>
                <div  style="height: 5px;">
                  ${data[key]["fields"]["role"] }
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">department</p>
                <div  style="height: 10px;">
                  ${data[key]["fields"]["department"] }
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">education</p>
                <div  style="height: 10px;">
                  ${data[key]["fields"]["education_level"] }
                  </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Date of joining</p>
                
                <div  style="height: 10px;">
                  ${data[key]["fields"]["doj"] }
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Date of leaving</p>
                <div style="height: 10px;">
                  ${data[key]["fields"]["dol"] }
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
          
          
          
          `


      )
            }
            }
          })
    }

// show/edit employees details on frame

function EditEmp(pk){
    
  $("#listIframeBtn").click()
    document.getElementById("listFrame").src = 'edit_employee/'+pk
}

function moreDetails(id){

  $("#moreDetailsBtn").click()
  

  $.ajax({
       
        type:"POST",
        url:"{% url 'management_get_emp_other_details' %}",
        data:{
          id:id
        },
        success:function(data,status){
         
          //var data = JSON.parse(data)
          console.log(data)
           for(key in data){
            $("#detailsTab").html(
              `
                  <tr>
                    <td>${data[key]["name"]}</td>
                    <td>${data[key]["value"]}</td>
                  </tr>

              `
            )
        }
      }

  })
}
</script>
{% endblock content %}