{% extends 'management/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body{
    margin-top:20px;
    background:#eee;
}
    .email {
    padding: 20px 10px 15px 10px;
	font-size: 1em;
}

.email .btn.search {
	font-size: 0.9em;
}

.email h2 {
	margin-top: 0;
	padding-bottom: 8px;
}

.email .nav.nav-pills > li > a {
	border-top: 3px solid transparent;
}

.email .nav.nav-pills > li > a > .fa {
	margin-right: 5px;
}

.email .nav.nav-pills > li.active > a,
.email .nav.nav-pills > li.active > a:hover {
	background-color: #f6f6f6;
	border-top-color: #3c8dbc;
}

.email .nav.nav-pills > li.active > a {
	font-weight: 600;
}

.email .nav.nav-pills > li > a:hover {
	background-color: #f6f6f6;
}

.email .nav.nav-pills.nav-stacked > li > a {
	color: #666;
	border-top: 0;
	border-left: 3px solid transparent;
	border-radius: 0px;
}

.email .nav.nav-pills.nav-stacked > li.active > a,
.email .nav.nav-pills.nav-stacked > li.active > a:hover {
	background-color: #f6f6f6;
	border-left-color: #3c8dbc;
	color: #444;
}

.email .nav.nav-pills.nav-stacked > li.header {
	color: #777;
	text-transform: uppercase;
	position: relative;
	padding: 0px 0 10px 0;
}

.email table {
	font-weight: 600;
}

.email table a {
	color: #666;
}

.email table tr.read > td {
	background-color: #f6f6f6;
}

.email table tr.read > td {
	font-weight: 400;
}

.email table tr td > i.fa {
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: center;
}

.email table tr td > i.fa-star {
	color: #f39c12;
}

.email table tr td > i.fa-bookmark {
	color: #e74c3c;
}

.email table tr > td.action {
	padding-left: 0px;
	padding-right: 2px;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}



.grid .grid-header:after {
    clear: both;
}

.grid .grid-header span,
.grid .grid-header > .fa {
    display: inline-block;
    margin: 0;
    font-weight: 300;
    font-size: 1.5em;
    float: left;
}

.grid .grid-header span {
    padding: 0 5px;
}

.grid .grid-header > .fa {
    padding: 5px 10px 0 0;
}

.grid .grid-header > .grid-tools {
    padding: 4px 10px;
}

.grid .grid-header > .grid-tools a {
    color: #999999;
    padding-left: 10px;
    cursor: pointer;
}

.grid .grid-header > .grid-tools a:hover {
    color: #666666;
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.grid .full {
    padding: 0 !important;
}

.grid .transparent {
    box-shadow: none !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.grid.top.black > .grid-header {
    border-top-color: #000000 !important;
}

.grid.bottom.black > .grid-body {
    border-bottom-color: #000000 !important;
}

.grid.top.blue > .grid-header {
    border-top-color: #007be9 !important;
}

.grid.bottom.blue > .grid-body {
    border-bottom-color: #007be9 !important;
}

.grid.top.green > .grid-header {
    border-top-color: #00c273 !important;
}

.grid.bottom.green > .grid-body {
    border-bottom-color: #00c273 !important;
}

.grid.top.purple > .grid-header {
    border-top-color: #a700d3 !important;
}

.grid.bottom.purple > .grid-body {
    border-bottom-color: #a700d3 !important;
}

.grid.top.red > .grid-header {
    border-top-color: #dc1200 !important;
}

.grid.bottom.red > .grid-body {
    border-bottom-color: #dc1200 !important;
}

.grid.top.orange > .grid-header {
    border-top-color: #f46100 !important;
}

.grid.bottom.orange > .grid-body {
    border-bottom-color: #f46100 !important;
}

.grid.no-border > .grid-header {
    border-bottom: 0px !important;
}

.grid.top > .grid-header {
    border-top-width: 4px !important;
    border-top-style: solid !important;
}

.grid.bottom > .grid-body {
    border-bottom-width: 4px !important;
    border-bottom-style: solid !important;
}
</style>

      
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
        <div class="row">
            <!-- BEGIN INBOX -->
            <div class="col-md-12">
                <div class="grid email">
                    <div class="grid-body">
                        <div class="row">
                            <!-- BEGIN INBOX MENU -->
                            <div class="col-md-3">
                                <h4 class="grid-title"><i class="fa fa-inbox"></i> Beezy Box</h4>
                                <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;compose</a>
        
                                <hr>
        
                                <div>
                                    <ul class="nav nav-pills nav-stacked">
                                        
                                        <li class="active"><a href="#inbox" data-toggle="tab"><i class="fa fa-inbox"></i> Inbox</a></li>
                                        <li><a href="#starred" data-toggle="tab"><i class="fa fa-star"></i> Starred</a></li>
                                        <li><a href="#anonymous" data-toggle="tab"><i class="fa fa-user-secret"></i> anonymous</a></li>
                                        <li><a href="#outbox" data-toggle="tab"><i class="fa fa-mail-forward"></i> Sent</a></li>
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                            <!-- END INBOX MENU -->
                            
                            <!-- BEGIN INBOX CONTENT -->
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label style="margin-right: 8px;" class="">
                                            <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="check-all" class="icheck" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                                        </label>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                Action <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="btn btn-outline" onclick="Actions(1)">star</a></li>
                                               
                                                <li><a class="btn btn-outline" onclick="Actions(2)">Delete</a></li>
                                            </ul>
                                        </div>
                                        <div id="loaders44" style="display: none;">
                                          <div class="spinner-grow text-primary" role="status">
                                            <span class="sr-only">sending...</span>
                                          </div>
                                          <div class="spinner-grow text-secondary" role="status">
                                            <span class="sr-only">sending...</span>
                                          </div>
                                          <div class="spinner-grow text-success" role="status">
                                            <span class="sr-only">sending...</span>
                                          </div>
                                        
                                          </div>
                                    </div>
        
                                    <div class="col-md-6 search-form">
                                      
                                            <div class="input-group">
                                                <input type="text" id="mailsearch" class="form-control input-sm" placeholder="Search">
                                               
                                            </div>			 
                                        
                                    </div>
                                </div>
                                
                                <div class="padding"></div>
                                <div id="inbox" class="tab-pane fade active show col-lg-12">
                                <div class="table-responsive">
                                    <table class="table" id="inboxTab">
                                        <tbody id="myTable">
                                            {% for message in messages %}
                                            {% if message.recipient.user.username == user.username %}
                                            {% if message.body|length >= 50 %}
                                            <tr>
                                            <td class="action"><input type="checkbox" class="checkboxall" value="{{message.pk}}" /></td>
                                            <td class="action" id="{{message.pk}}">
                                              {% if message.label == "star" %}
                                              <i class="fa fa-star"></i>
                                              {% else %}
                                              <i class="fa fa-star-o"></i>
                                              {% endif %}
                                          
                                          </td>
                                            
                                            <td class="name">{{messsage.sender.first}}@{{message.sender.user.username}}</td>
                                            <td class="subject"><a onclick="getBody('{{message.pk}}')">{{message.body|slice:"0:50"}}</a></td>
                                            <td class="time">08:30 PM</td>

                                            
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td class="action"><input type="checkbox" class="checkboxall" value="{{message.pk}}" /></td>
                                            <td class="action" id="{{message.pk}}">
                                              {% if message.label == "star" %}
                                              <i class="fa fa-star"></i>
                                              {% else %}
                                              <i class="fa fa-star-o"></i>
                                              {% endif %}
                                          
                                          </td>
                                            
                                            <td class="name">{{messsage.sender.first}}@{{message.sender.user.username}}</td>
                                            <td class="subject"><a onclick="getBody('{{message.pk}}')">{{message.body|slice:"0:50"}}</a></td>
                                            <td class="time">{{message.created}}</td>
                                            <td>
                                                {% if message.seen == True %}
                                                <i class="fa fa-check"></i>
                                                {% else %}
                                                <i></i>
                                                {% endif %}
                                            </td>

                                            
                                        </tr>
                                            
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                       
                                    </tbody></table>
                                </div>
        
                                {% if messages.has_other_pages %}
                                <ul class="pagination">
                                  {% if messages.has_previous %}
                                    <li><a href="?page={{ messages.previous_page_number }}">&laquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                  {% endif %}
                                  {% for i in messages.paginator.page_range %}
                                    {% if messages.number == i %}
                                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if messages.has_next %}
                                    <li><a href="?page={{ messages.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                  {% endif %}
                                </ul>
                              {% endif %}	
                            </div>		
                            <div id="outbox" class="tab-pane fade col-lg-12">
                                <div class="table-responsive">
                                    <table class="table" id="outboxTab">
                                        <tbody id="myTable">
                                            {% for message in messages %}
                                       
                                            {% if message.sender.user.username == user.username %}
                                            {% if message.body|length >= 50 %}
                                            <tr>
                                            <td class="action"><input type="checkbox" class="checkboxall" value="{{message.pk}}" /></td>
                                            <td class="action" id="{{message.pk}}">
                                                {% if message.label == "star" %}
                                                <i class="fa fa-star"></i>
                                                {% else %}
                                                <i class="fa fa-star-o"></i>
                                                {% endif %}
                                            
                                            </td>
                                            
                                            <td class="name">{{messsage.sender.first}}@{{message.sender.user.username}}</td>
                                            <td class="subject"><a onclick="getBody('{{message.pk}}')">{{message.body|slice:"0:50"}}</a></td>
                                            <td class="time">{{message.created}}</td>
                                            <td>
                                                {% if message.seen == True %}
                                                <i class="fa fa-check"></i>
                                                {% else %}
                                                <i></i>
                                                {% endif %}
                                            </td>

                                            
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td class="action"><input type="checkbox" class="checkboxall" value="{{message.pk}}" /></td>
                                            <td class="action" id="{{message.pk}}">
                                                {% if message.label == "star" %}
                                                <i class="fa fa-star"></i>
                                                {% else %}
                                                <i class="fa fa-star-o"></i>
                                                {% endif %}
                                            
                                            </td>
                                            
                                            <td class="name">{{messsage.sender.first}}@{{message.sender.user.username}}</td>
                                            <td class="subject"><a onclick="getBody('{{message.pk}}')">{{message.body|slice:"0:50"}}</a></td>
                                            <td class="time">{{message.created}}</td>
                                            <td>
                                                {% if message.seen == True %}
                                                <i class="fa fa-check"></i>
                                                {% else %}
                                                <i></i>
                                                {% endif %}
                                            </td>

                                            
                                        </tr>
                                            
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                       
                                    </tbody></table>
                                </div>
        
                                {% if messages.has_other_pages %}
                                <ul class="pagination">
                                  {% if messages.has_previous %}
                                    <li><a href="?page={{ messages.previous_page_number }}">&laquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                  {% endif %}
                                  {% for i in messages.paginator.page_range %}
                                    {% if messages.number == i %}
                                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if messages.has_next %}
                                    <li><a href="?page={{ messages.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                  {% endif %}
                                </ul>
                              {% endif %}
                            </div>	
                            <div id="anonymous" class="tab-pane fade col-lg-12">
                                <div class="table-responsive">
                                    <table class="table" id="anonymousTab">
                                        <tbody id="myTable">
                                            {% for message in messages %}
                                            {% if message.masked_sender == user.username and message.sender.user.username == "anonymous" %}
                                            {% if message.body|length >= 50 %}
                                            <tr>
                                            <td class="action"><input type="checkbox" class="checkboxall" value="{{message.pk}}" /></td>
                                            <td class="action" id="{{message.pk}}">
                                              {% if message.label == "star" %}
                                              <i class="fa fa-star"></i>
                                              {% else %}
                                              <i class="fa fa-star-o"></i>
                                              {% endif %}
                                          
                                          </td>
                                            
                                            <td class="name">{{messsage.sender.first}}@{{message.sender.user.username}}</td>
                                            <td class="subject"><a onclick="getBody('{{message.pk}}')">{{message.body|slice:"0:50"}}</a></td>
                                            <td class="time">{{message.created}}</td>
                                            <td>
                                                {% if message.seen == True %}
                                                <i class="fa fa-check"></i>
                                                {% else %}
                                                <i></i>
                                                {% endif %}
                                            </td>

                                            
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td class="action"><input type="checkbox" class="checkboxall" value="{{message.pk}}" /></td>
                                            <td class="action" id="{{message.pk}}">
                                              {% if message.label == "star" %}
                                              <i class="fa fa-star"></i>
                                              {% else %}
                                              <i class="fa fa-star-o"></i>
                                              {% endif %}
                                          
                                          </td>
                                            
                                            <td class="name">{{messsage.sender.first}}@{{message.sender.user.username}}</td>
                                            <td class="subject"><a onclick="getBody('{{message.pk}}')">{{message.body|slice:"0:50"}}</a></td>
                                            <td class="time">{{message.created}}</td>
                                            <td>
                                                {% if message.seen == True %}
                                                <i class="fa fa-check"></i>
                                                {% else %}
                                                <i></i>
                                                {% endif %}
                                            </td>

                                            
                                        </tr>
                                            
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                       
                                    </tbody></table>
                                </div>
        
                                {% if messages.has_other_pages %}
                                <ul class="pagination">
                                  {% if messages.has_previous %}
                                    <li><a href="?page={{ messages.previous_page_number }}">&laquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                  {% endif %}
                                  {% for i in messages.paginator.page_range %}
                                    {% if messages.number == i %}
                                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if messages.has_next %}
                                    <li><a href="?page={{ messages.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                  {% endif %}
                                </ul>
                              {% endif %}	
                            </div>
                            <div id="starred" class="tab-pane fade col-lg-12">
                                <div class="table-responsive">
                                    <table class="table" id="anonymousTab">
                                        <tbody id="myTable">
                                            {% for message in messages %}
                                            {% if message.recipient.user.username == user.username and message.label == "star" %}
                                            {% if message.body|length >= 50 %}
                                            <tr>
                                            <td class="action"><input type="checkbox" class="checkboxall" value="{{message.pk}}" /></td>
                                            <td class="action" id="{{message.pk}}">
                                              {% if message.label == "star" %}
                                              <i class="fa fa-star"></i>
                                              {% else %}
                                              <i class="fa fa-star-o"></i>
                                              {% endif %}
                                          
                                          </td>
                                            
                                            <td class="name">{{messsage.sender.first}}@{{message.sender.user.username}}</td>
                                            <td class="subject"><a onclick="getBody('{{message.pk}}')">{{message.body|slice:"0:50"}}</a></td>
                                            <td class="time">{{message.created}}</td>
                                            <td>
                                                {% if message.seen == True %}
                                                <i class="fa fa-check"></i>
                                                {% else %}
                                                <i></i>
                                                {% endif %}
                                            </td>

                                            
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td class="action"><input type="checkbox" class="checkboxall" value="{{message.pk}}" /></td>
                                            <td class="action" id="{{message.pk}}">
                                              {% if message.label == "star" %}
                                              <i class="fa fa-star"></i>
                                              {% else %}
                                              <i class="fa fa-star-o"></i>
                                              {% endif %}
                                          
                                          </td>
                                            
                                            <td class="name">{{messsage.sender.first}}@{{message.sender.user.username}}</td>
                                            <td class="subject"><a onclick="getBody('{{message.pk}}')">{{message.body|slice:"0:50"}}</a></td>
                                            <td class="time">{{message.created}}</td>
                                            <td>
                                                {% if message.seen == True %}
                                                <i class="fa fa-check"></i>
                                                {% else %}
                                                <i></i>
                                                {% endif %}
                                            </td>

                                            
                                        </tr>
                                            
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                       
                                    </tbody></table>
                                </div>
        
                                {% if messages.has_other_pages %}
                                <ul class="pagination">
                                  {% if messages.has_previous %}
                                    <li><a href="?page={{ messages.previous_page_number }}">&laquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                  {% endif %}
                                  {% for i in messages.paginator.page_range %}
                                    {% if messages.number == i %}
                                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if messages.has_next %}
                                    <li><a href="?page={{ messages.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                  {% endif %}
                                </ul>
                              {% endif %}	
                            </div>			
                            </div>
                            <!-- END INBOX CONTENT -->
                            
                            <!-- BEGIN COMPOSE MESSAGE -->
                            <div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-wrapper">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-blue">
                                                <div id="loaders4" style="display: none;">
                                                    <div class="spinner-grow text-primary" role="status">
                                                      <span class="sr-only">sending...</span>
                                                    </div>
                                                    <div class="spinner-grow text-secondary" role="status">
                                                      <span class="sr-only">sending...</span>
                                                    </div>
                                                    <div class="spinner-grow text-success" role="status">
                                                      <span class="sr-only">sending...</span>
                                                    </div>
                                                  
                                                    </div>
                                                <h4 class="modal-title"><i class="fa fa-envelope"></i> Compose New Message</h4>
                                            </div>
                                            <form method="post" id="mailForm" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <input name="from" id="from"  type="text" class="form-control" value="{{request.user.username}}" readonly>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="to" id="to" list="users" type="text" class="form-control" placeholder="To" required>
                                                        <datalist id="users">
                                                          {% for employee in employees %}
                                                            <option value="{{employee.emp_id}}">{{employee.first_name}}@{{employee.emp_id}}</option>
                                                          {% endfor %}

                                                        </datalist>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <input name="subject" type="text" class="form-control" placeholder="Subject" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control" name="category">
                                                            <option value="normal">normal</option>
                                                            <option value="anonymous">anonymous</option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea name="message" id="email_message" class="form-control" placeholder="Message" style="height: 120px;" required></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="file" class="form-control" name="attachment">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> close</button>
                                                    <button type="submit" class="btn btn-primary pull-right" onclick="sendMail()"><i class="fa fa-envelope"></i> Send Message</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END COMPOSE MESSAGE -->

                          
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none;" id="bodyModals">
                                Launch demo modal
                              </button>
                              
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="subjectHead" style="color:blue"></h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body" style="height:500px; overflow-y: scroll;">
                                      <p id="body">

                                      </p>

                                      
                                    </div>
                                    <div class="modal-footer">
                                        <a id="attachmentFile" download><i class="fa fa-download"></i>attachment</a>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>




















                        </div>
                    </div>
                </div>
            </div>
            <!-- END INBOX -->
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script>

$(document).ready(function(){
  $("#mailsearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});


function getBody(id){

    $("#bodyModals").click()
    $.ajax({

        method:"POST",
        url:"{% url 'management_get_mail_body' %}",
        data:{

            id:id
        },
        success:function(data,status){
          
        
            document.getElementById("subjectHead").innerHTML = data["subject"]
            document.getElementById("body").innerHTML = data["body"]
            document.getElementById("attachmentFile").href = data["attachment"]

        }
    })
}

 function Actions(id){
    var checks = []
    $(".checkboxall:checked").each(function(){
    checks.push($(this).val());
    });
      $.ajax({
          
        method:"POST",
        url:"{% url 'management_mail_actions' %}",
        data:{
            id:id,
            pks:checks.toString()
        },
        beforeSend:function(){
                $("#loaders44").show()
             },
        success:function(data,status){
          
          if(data=="starred"){

            for(var i=0;i<=checks.length;i++){

                document.getElementById(checks[i].toString()).innerHTML = '<i class="fa fa-star"></i>'
            }
            $("#loaders44").hide()

          }else{

            alert(data+" successfully")
          }
           

        },
        complete:function(){
                
                $("#loaders44").hide()
                
  
               }


      })
 }

  function sendMail(){

    $("#mailForm").submit(function(e){
   
        e.preventDefault()

   $form = $(this)
   var formData = new FormData(this);
 
   $.ajax({
     method:"post",
     url:"{% url 'management_mail_box' %}",
     data:formData,
     processData: false,
     contentType: false,
     
     beforeSend:function(){
                $("#loaders4").show()
             },
     success:function(data,status){
       alert(data)
     },
     complete:function(){
                
                $("#loaders4").hide()
                
  
               }

   })
  })
  }

 
</script>



{% endblock content %}